## Basic Imports

In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

## Data Import 
- Movies dataset
- credit dataset

In [2]:
movies = pd.read_csv(r'tmdb_5000_movies.csv')
credits = pd.read_csv(r'tmdb_5000_credits.csv')

In [3]:
movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bondâ€™s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [4]:
credits.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

### Approach 
We will try to make a model based on tags, Where we'll make tags out of the specific columns. Then we'll convert those tags as vectors for each movie.
Our prediction will be based on the similarity between two vectors. We will use cosine similarity between movie vectors to recommend a movies.

### Selection Column for tags
#### From Movies DataFrame
- genres
- keywords
- overview
- production_companies
- title

#### From Credits DataFrame
- cast
- crew

#### Merge of both datasets
- First we'll merge both Movies and Credits DataFrames on title.
- We'll keep the columns we need for making tags and to identify the movie

In [5]:
movies =  movies[['id', "title", "genres", "keywords", "overview", "production_companies"]]
credits = credits.drop(["movie_id"], axis=1)

In [6]:
df = movies.merge(credits, on="title")

In [7]:
df.head()

,id,title,genres,keywords,overview,production_companies,cast,crew
0,19995,Avatar,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","In the 22nd century, a paraplegic Marine is di...","[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","Captain Barbossa, long believed to be dead, ha...","[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",A cryptic message from Bondâ€™s past sends him o...,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",Following the death of District Attorney Harve...,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","John Carter is a war-weary, former military ca...","[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

### Work on each column
We'll convert each column text to lowecase.
- genres
    - We'll iterate through genres and we'll create list of genre names, and if word count is two or more we'll convert them into on word. (e.g. John Wick = JohnWick )
- keywords
    - We'll take each keyword and make a list of them. If word count is two or more we'll convert them into on word. 
- overview
    - We'll create list of each words from overview
- production_companies
    - We'll take first production company name as one word with same logic as genres
- cast
    - We'll take top 5 cast from this column as one word
- crew
    - From crew column we are only interest in Director of the movie. Again as one word

#### Logic behind one word
Tom Hardy and Tom Hanks, both names has two words and Tom is common. The model will make three columns Tom | Hardy | Hanks. At the time of prediction as both actors have same first name the similarity will be more. But, if we use TomHardy TomHanks then these are totally different names.

In [8]:
import ast
def convert_to_list(data):
    ls = []
    for i in ast.literal_eval(data):
        ls.append(i["name"].replace(" ", "").lower())
    return ls

In [9]:
df["genres"] = df["genres"].apply(convert_to_list)

In [10]:
df["keywords"] = df["keywords"].apply(convert_to_list)

In [11]:
def overview_to_list(data):
    if type(data) == float:
        return data
    return [i.lower() for i in data.split(" ")]

In [12]:
df["overview"] = df["overview"].apply(overview_to_list)

In [13]:
def production_company_to_list(data):
    ls = []
    for i in ast.literal_eval(data):
        ls.append(i["name"].replace(" ", "").lower())
        break
    return ls

In [14]:
df["production_companies"] = df["production_companies"].apply(production_company_to_list)

In [15]:
def cast_to_list(data):
    ls = []
    counter = 0
    for i in ast.literal_eval(data):
        if counter == 5:
            break
        ls.append(i["name"].replace(" ", "").lower())
        counter += 1
    return ls

In [16]:
df["cast"] = df["cast"].apply(cast_to_list)

In [17]:
def crew_to_list(data):
    ls = []
    for i in ast.literal_eval(data):
        if i["job"] == "Director":
            ls.append(i["name"].replace(" ", "").lower())
    return ls

In [18]:
df["crew"] = df["crew"].apply(crew_to_list)

In [19]:
df.head()

,id,title,genres,keywords,overview,production_companies,cast,crew
0,19995,Avatar,"[action, adventure, fantasy, sciencefiction]","[cultureclash, future, spacewar, spacecolony, ...","[in, the, 22nd, century,, a, paraplegic, marin...",[ingeniousfilmpartners],"[samworthington, zoesaldana, sigourneyweaver, ...",[jamescameron]
1,285,Pirates of the Caribbean: At World's End,"[adventure, fantasy, action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[captain, barbossa,, long, believed, to, be, d...",[waltdisneypictures],"[johnnydepp, orlandobloom, keiraknightley, ste...",[goreverbinski]
2,206647,Spectre,"[action, adventure, crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[a, cryptic, message, from, bondâ€™s, past, send...",[columbiapictures],"[danielcraig, christophwaltz, lÃ©aseydoux, ralp...",[sammendes]
3,49026,The Dark Knight Rises,"[action, crime, drama, thriller]","[dccomics, crimefighter, terrorist, secretiden...","[following, the, death, of, district, attorney...",[legendarypictures],"[christianbale, michaelcaine, garyoldman, anne...",[christophernolan]
4,49529,John Carter,"[action, adventure, sciencefiction]","[basedonnovel, mars, medallion, spacetravel, p...","[john, carter, is, a, war-weary,, former, mili...",[waltdisneypictures],"[taylorkitsch, lynncollins, samanthamorton, wi...",[andrewstanton]

In [20]:
df["overview"]

0       [in, the, 22nd, century,, a, paraplegic, marin...
1       [captain, barbossa,, long, believed, to, be, d...
2       [a, cryptic, message, from, bondâ€™s, past, send...
3       [following, the, death, of, district, attorney...
4       [john, carter, is, a, war-weary,, former, mili...
                              ...
4804    [el, mariachi, just, wants, to, play, his, gui...
4805    [a, newlywed, couple's, honeymoon, is, upended...
4806    ["signed,, sealed,, delivered", introduces, a,...
4807    [when, ambitious, new, york, attorney, sam, is...
4808    [ever, since, the, second, grade, when, he, fi...
Name: overview, Length: 4809, dtype: object

In [21]:
def filter_overview(data):
    ls = []
    if type(data) == float:
        return data
    for i in data:
        i = i.replace(",", "")
        i = i.replace('"', "")
        ls.append(i)
    return ls

In [22]:
df["overview"] = df["overview"].apply(filter_overview)

In [23]:
df["tags"] = df["genres"] + df["keywords"] + df["overview"] + df["production_companies"] + df["cast"] + df["crew"]

In [24]:
df = df[["id", "title", "tags"]]

In [25]:
df.head()

,id,title,tags
0,19995,Avatar,"[action, adventure, fantasy, sciencefiction, c..."
1,285,Pirates of the Caribbean: At World's End,"[adventure, fantasy, action, ocean, drugabuse,..."
2,206647,Spectre,"[action, adventure, crime, spy, basedonnovel, ..."
3,49026,The Dark Knight Rises,"[action, crime, drama, thriller, dccomics, cri..."
4,49529,John Carter,"[action, adventure, sciencefiction, basedonnov..."

In [26]:
print(df["tags"][0])

['action', 'adventure', 'fantasy', 'sciencefiction', 'cultureclash', 'future', 'spacewar', 'spacecolony', 'society', 'spacetravel', 'futuristic', 'romance', 'space', 'alien', 'tribe', 'alienplanet', 'cgi', 'marine', 'soldier', 'battle', 'loveaffair', 'antiwar', 'powerrelations', 'mindandsoul', '3d', 'in', 'the', '22nd', 'century', 'a', 'paraplegic', 'marine', 'is', 'dispatched', 'to', 'the', 'moon', 'pandora', 'on', 'a', 'unique', 'mission', 'but', 'becomes', 'torn', 'between', 'following', 'orders', 'and', 'protecting', 'an', 'alien', 'civilization.', 'ingeniousfilmpartners', 'samworthington', 'zoesaldana', 'sigourneyweaver', 'stephenlang', 'michellerodriguez', 'jamescameron']

In [27]:
df.isnull().sum()

id       0
title    0
tags     3
dtype: int64

In [28]:
df.dropna(inplace=True)

In [29]:
df = df.reset_index(drop=True)

In [30]:
df["tags"] = df["tags"].apply(lambda x : " ".join(x))

In [31]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(stop_words="english", max_features=2500)

In [32]:
vectors = cv.fit_transform(df["tags"]).toarray()

In [33]:
cv.get_feature_names()[:50]

['10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '1930s',
 '1950s',
 '1960s',
 '1970s',
 '1980s',
 '19th',
 '19thcentury',
 '20',
 '20th',
 '30',
 '3d',
 'aaroneckhart',
 'abandoned',
 'ability',
 'able',
 'abuse',
 'academy',
 'accident',
 'accidentally',
 'account',
 'accused',
 'act',
 'action',
 'actions',
 'actor',
 'actress',
 'actually',
 'adam',
 'adamsandler',
 'adaptation',
 'addiction',
 'adoption',
 'adult',
 'adultery',
 'adventure',
 'adventures',
 'advice',
 'affair',
 'afghanistan',
 'africa',
 'african']

In [34]:
from sklearn.metrics.pairwise import cosine_similarity

In [35]:
similarities = cosine_similarity(vectors)

In [36]:
similarities.shape

(4806, 4806)

In [37]:
def recommend_movies(movie_name):
    movie_index = df[df["title"] == movie_name].index[0]
    try:
        rec = sorted(list(enumerate(similarities[movie_index])), reverse = True, key = lambda x: x[1])[1:6]
        title = []
        for i in rec:
            title.append(df.iloc[i[0]]["title"])
        id_ = []
        for i in rec:
            id_.append(df.iloc[i[0]]["id"])
        return title, id_
    except:
        print(movie_name)

In [38]:
recommend_movies("Signed, Sealed, Delivered")

(['The Game of Their Lives',
  'Love Actually',
  'Sabotage',
  'Cheri',
  'Team America: World Police'],
 [29078, 508, 144336, 22215, 3989])

In [39]:
import pickle

In [40]:
# pickle.dump(similarities, open("similarities.pkl", "wb"))

In [41]:
# pickle.dump(df.to_dict(), open("data.pkl", "wb"))

In [42]:
recommendations = {}
for i in df['title']:
    try:
        title, id_ = recommend_movies(i)
        recommendations[i] = {"title": title, "id": id_}
    except:
        print(i)

In [49]:
recommendations["Iron Man"]

{'title': ['Iron Man 3',
  'Iron Man 2',
  'Avengers: Age of Ultron',
  'Captain America: Civil War',
  'X-Men: The Last Stand'],
 'id': [68721, 10138, 99861, 271110, 36668]}

In [52]:
pickle.dump(recommendations, open("similarities_dict.pkl", "wb"))